h3 {
	font-size: 70;
	background-color: red;
	color: teal;
}
<!DOCTYPE html>
<html>
<body>

<ul>
  <li><a href="#assignments">Assignments</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
</ul>

<p>Note: We use href="#" for test links. In a real web site this would be URLs.</p>

</body>
</html>

a {}


p {}